body{
	background-color: #202727;
	font-family: "Helvetica",Arial,sans-serif;
	color:#666666;
	font-size:14px;
	margin:0;
	width:auto;
	padding:0;
	text-decoration:none;
}

#wrapper{
	width: 990px;
	margin:0px auto;
}

#login{
	margin:0;
}

header{
	
	background-color:#0E1818;
	color:#889696;
	margin:0px auto;
	box-shadow:1px 1px 10px black;
	
}

header div{
	height:90px;
	width:990px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:10px;
	
}

header a{
	text-decoration: none;
}


header ul{
	margin:0;
	right:10px;
	text-align:right;
}

header ul.login{
	text-transform: uppercase;
	font-size:12px;
	padding-top:10px;
	padding-bottom:10px;
	
}

header ul.login:hover{
	color:white;
}

header ul.login a{
	color:#889696;
	font-weight:bold;
	padding-left:10px;
}

header ul.login a.reg{
	border-right:2px solid #889696;
	padding-right:10px;
}

header h1{
	margin:0;
	display:block;
	height:81px;
	width:50%;
	background:url(visual/logo.png) no-repeat;
	float:left;
	outline:none;
	text-indent:-9999px;
}

header ul li{
	display: inline-block;
}

header h2{
	display:none;
}

#nav ul{
    margin-left:50%;
	padding:0;
}

#nav ul li{
	display:inline-block;
	list-style-type:none;
	margin-top:10px;
	text-align:center;
	color:white;
	margin:0px;
	background-color:#292D2D;
	border-right:1px solid #1D1F1F;
	padding:15px 15px 15px 15px;
	margin-right:-4px;
}

#nav ul li:hover{
	background-color:#E62E00;
}

#nav ul li a{
	font-weight: bold;
	font-size: 12px;
	color:white;
	text-transform:uppercase;
	text-decoration: none;
}

#nav ul li.button{
	background-color:#E62E00;
	border-bottom-left-radius:8px;
	border-top-left-radius:8px;
}

#nav ul li.buttoncolor{
	background-color: #E62E00;
}

#nav ul li.buttonborder{
	border-bottom-left-radius:8px;
	border-top-left-radius:8px;
}

#nav ul li.buttonborder2{
	border-bottom-right-radius:8px;
	border-top-right-radius:8px;
}

#wrapper {
	margin-top:15px;
}

#wrapper h2{
	display:none;
}

.slideimg{
	width:440px;
	height:280px;
}

#flexslider {
	margin:0px 0px 30px 0px;
}

.slider-Title{
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
}



#wrapper h2 + img + p{
	color: #white;
	height:100px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:16px;
	background-color:black;
	line-height: 30px;
	position:absolute;
	width: 990px;
	opacity: 0.6;
	top:410px;
}

#recent {
	margin-top:15px;
	box-shadow:1px 1px 20px black;
	background-color:#0E1818;
	height:390px;
	margin-bottom:25px;
	position:relative;
	
}


body h3{
	color:#889696;
	padding-left:15px;
	box-shadow:1px 1px 15px black;
	margin:0;
	font-size:16px;
	background-color:#091010;
	padding-top:10px;
	padding-bottom:10px;
}

#recent div{
	width:245.5px;
	float:left;
	position: relative;
	text-align:center;
	background-color: #202727;
	width:200px;
	margin-top:20px;
	margin-right:23px;
	margin-left:23px;
	box-shadow:1px 1px 15px #9D9F9F;
}


#recent div img{
	width:200px;
	height:250px;
}

#recent  p.more{
	opacity:1;
	position:absolute;
	right:30px;
	padding:5px 10px 5px 10px;
	background-color:#202727;
	border-radius: 7px;
	width:auto;
	bottom:10px;
	
}


/*#recent p.link{
	width:auto;
	padding:10px 5px 10px 5px;
	background-color:red;
	
	border-radius: 8px;
}

#recent p.link a{
	text-decoration:none;
	color: white;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
}*/

#recent p {
	background-color:black;
	margin:0;
	padding:20px;
	position:absolute;
	opacity:0.7;
	width:200px;
	bottom:0;
	padding:0;
	padding-top:10px;
	padding-bottom:20px;
}

#recent p a{
	text-decoration:none;
	color: white;
	font-weight:bold;
	text-transform:uppercase;
}

#content{
	clear:left;
	box-shadow:1px 1px 20px black;
	background-color:#0E1818;
	width: 693px;
	float:right;
	margin-left:20px;
	height:656px;
}

#content div{
	padding:8px 10px 0 10px;
	height:300px;
	position:relative;
}

#video{
	margin-left:auto;
	margin-right:auto;
	width:420px;
	height:310px;
}

#content div p.title{
	font-weight:bold;
	font-size:16px;
	color:#9D9F9F;
	margin-bottom:20px;
	
}

#content div img{
	width:150px;
	z-index=-1;
	height:208px; 
	float:left;
	margin-right:15px;
	margin-top:10px;
}

#content div img.out{
	position:absolute;
	left:10px;
	top:90px;
	
}

#content div img.shop{
	width:64px;
	height:64px;
}

.details{
	width: 80px;
	padding:10px 5px 10px 5px;
	background-color:#202727;
	border-radius: 8px;
	height: 20px;
	float:left;
	margin:0;
	text-align:center;
	position:absolute;
	bottom:50px;
	left:180px;
}

.details a{
	text-decoration:none;
	color: white;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;

}

.trailers{
	width: 80px;
	padding:10px 5px 10px 5px;
	background-color:#E62E00;
	border-radius: 8px;
	height: 20px;
	float:left;
	margin:0;
	text-align:center;
	margin-left:10px;
	position:absolute;
	bottom:50px;
	left:270px;
}

.trailers a{
	text-decoration:none;
	color: white;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;

}


#sidebar{
	margin-right:713px;
	width=100px;
	
	
}

#sidebar div{
	text-align:center;
	position:relative;
	margin-bottom:30px;
	background-color:#0E1818;
	box-shadow:1px 1px 20px black;
	
}

#next{
	height:195px;
}

#next img{
	float:left;
	padding:15px 2.5px 0px 2.5px;
	width:86px; 
	height:122px;
	
}

.more{
	clear:left;
	padding:5px 10px 5px 10px;
	background-color:#202727;
	border-radius: 7px;
	height: 20px;
	margin:0;
	width:auto;
	text-align:center;
	position:absolute;
	right:10px;
	bottom:10px;
}

.more a{
	text-decoration:none;
	color: white;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;

}

#trailer{
	height:350px;
}

#trailer div{
	position:relative;
	margin:0px;
	height:100px;
	box-shadow:none;
}

#trailer div img + p{
	margin:0;
	color:#9D9F9F;
	position:absolute;
	left:132px;
	top:20px;
	font-weight:bold;
}

#trailer div img + p + p{
	color:#9D9F9F;
	position:absolute;
	left:132px;
	top:30px;
	text-align:left;
}

#trailer div img + p + p + p{
	background: url(visual/play.png) no-repeat;
	position:absolute;
	left:102px;
	width:50px;
	height:50px;
	top:50px;
}

#trailer div img{
	position:absolute;
	left:10px;
	top:10px;
	 width:112px;
	 height:76px;
}

footer{
	clear:both;
	background-color: #0E1818;
	height:60px;

}

footer div{
	width:990px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
footer div p{
	margin:0;
	padding-top:20px;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px;
}

footer div p.twitter{
	position:absolute;
	width:50px;
	height:30px;
	top:10px;
	right:85px;
	background: url(visual/twitter2.png) no-repeat;
}

footer div p.facebook{
	position:absolute;
	width:50px;
	height:40px;
	top:10px;
	right:280px;
	background: url(visual/e.png) no-repeat;
}

footer div p + p + p{
	position:absolute;
	padding:0;
	top:25px;
	right:10px;
}

footer div p + p + p + p{
	position:absolute;
	padding:0;
	top:25px;
	right:150px;
}

footer a{
	color:white;
	font-size:11px;
	text-decoration:none;	
}

.ficha_peli_dato{
	color:#9D9F9F;  font-size:13px;
}


#rating{
	height:100px;
	padding-top:15px;
}

#rating  p.star{
	float:left;
	margin:0;
	padding-top:25px;
	width:66px;
	height:59px;
	background:url(visual/star.png) no-repeat;
	
}

#rating p{
	margin:0;
}

#rating p + p + p{
	margin-top:10px;
	margin-bottom:10px;
	clear:left;
	text-align:left;
}

#rating a{
	color:white;
	text-decoration:none;
}

form{
	
	padding:20px;
	margin:20px;
	border-radius: 8px;

}

label{
	margin:10px;
	color:#9D9F9F;
}



#content p.formulario{

	margin:10px;

}


#content div.movielist{
	margin: 20px 10px;
    width: 150px;
	height: 250px;
	float:left;
	padding:0;
}

#content div.movielist p img{
	width:150px;
	height:200px;
	margin:0;
	padding:0;
	margin-bottom:10px;
	box-shadow:1px 1px 10px white;
}

#content div.movielist P{
	text-align:center;
	
}

#content div.movielist p a{
	color: #CCC;
	text-decoration:none;
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
}

#content div.movielist p a:hover{
	color: #CCC;
}

#genres{
	height:185px;
	padding:0;
}

#genres p {
	margin:0;
	text-align:left;
	padding:7px 20px;
}

#genres p:hover{
	background-color:#E62E00;
	padding:7px 20px;
}

#genres p.buttonhere{
	background-color:#E62E00;
	padding:7px 20px;
}

#genres p a{
	color: white;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}

#benefits{
	height:185px;
	padding:0;
}

#benefits p{
	margin:0;
	margin-bottom:20px;
	text-align:left;
	padding-left:15px;
}

#benefits  p.ticket{
	width:64px;
	height:64px;
	background: url(visual/popcorn.png) no-repeat;
	float:left;
	padding:10px;
	margin-left:15px;
	margin-top:15px;
}

#facebook{
	height:145px;
}


#facebook p{
	margin:0;
	padding-top:10px;
	margin-bottom:20px;
	text-align:left;
}

#facebook  p.fb{
	width:64px;
	height:64px;
	background: url(visual/facebook.png) no-repeat;
	float:left;
	padding:10px;
	margin-left:15px;
	margin-top:5px;
}

.fbutton{
	clear:left;
	padding:5px 10px 5px 10px;
	background-color:#4D4D94;
	border-radius: 7px;
	height: 20px;
	margin:0;
	width:auto;
	text-align:center;
	position:absolute;
	right:10px;
	bottom:10px;
}

.fbutton a{
	text-decoration:none;
	color: white;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;

}

#login{
	height:140px;
}


#login p{
	margin:0;
	padding-top:10px;
	margin-bottom:20px;
	text-align:left;
}

#login  p.log{
	width:64px;
	height:64px;
	background: url(visual/ticket.png) no-repeat;
	float:left;
	padding:10px;
	margin-left:15px;
	margin-top:5px;
}



input{
	border:3px solid #091010;
	width:200px;
	
}

.button4{
	border:1px solid #9D9F9F;
	width: 80px;
	color:#9D9F9F;
	font-weight:bold;
	background-color:#202727;
	margin:0;
	text-align:center;
	font-family: "Helvetica",Arial,sans-serif;
}

.radiobutton{
	width:20px;
}

.done, .warning, .error {
	color: white;
	clear:left;
	margin-left:40px;
	font-weight: bold;
	padding: 5px;
}

#user-info{
	width: 990px;
	height:35px;
	text-align:right;
	padding:0;
	color:#889696;
	font-size:13px;
}

#user-info a{
	color:white;
}











